# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crm_lastere

# pgAdmin Credentials
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# NestJS Config
PORT=3000
DB_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/crm_lastere
